# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# private keys
serverless.env.yml
google-app-credentials.json
firebase-config.json
.env

# build
.webpack

# vscode
.vscode
